{% extends "layouts/main.html" %} {% block pageTitle %} When were they removed
from your roll? – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {%
block content %}
<div class="govuk-width-container">
  <a href="removal-reason-no" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="home-education-reason" method="post">
          <div class="govuk-form-group">
            <fieldset
              class="govuk-fieldset"
              role="group"
              aria-describedby="date-of-removal-hint"
            >
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                >Request for Hamish Richards (UPN: 4802812)
              </span>
                <h1 class="govuk-fieldset__heading">
                  When were they removed from your roll?
                </h1>
              </legend>
              <div id="date-of-removal-hint" class="govuk-hint">
                For example, 31 3 2022
              </div>
              <div class="govuk-date-input" id="date-of-removal">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label
                      class="govuk-label govuk-date-input__label"
                      for="date-of-removal-day"
                    >
                      Day
                    </label>
                    <input
                      class="govuk-input govuk-date-input__input govuk-input--width-2"
                      id="date-of-removal-day"
                      name="date-of-removal-day"
                      type="text"
                      autocomplete="removal-day"
                      inputmode="numeric"
                    />
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label
                      class="govuk-label govuk-date-input__label"
                      for="date-of-removal-month"
                    >
                      Month
                    </label>
                    <input
                      class="govuk-input govuk-date-input__input govuk-input--width-2"
                      id="date-of-removal-month"
                      name="date-of-removal-month"
                      type="text"
                      autocomplete="removal-month"
                      inputmode="numeric"
                    />
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label
                      class="govuk-label govuk-date-input__label"
                      for="date-of-removal-year"
                    >
                      Year
                    </label>
                    <input
                      class="govuk-input govuk-date-input__input govuk-input--width-4"
                      id="date-of-removal-year"
                      name="date-of-removal-year"
                      type="text"
                      autocomplete="removal-year"
                      inputmode="numeric"
                    />
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
