{% extends "layouts/index.html" %} {% block pageTitle %} Admitted from abroad
with English not first language – {{ serviceName }} – GOV.UK Prototype Kit {%
endblock %} {% block content %}

<div class="govuk-width-container">
  <a href="/notes/index" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"
          >Admitted from abroad with English not first language</span
        >
        <h1 class="govuk-heading-l">Recommendations</h1>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Applies to:</span>
          'What is their first language?' page
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Recommendation:</span
          >
          Provide a clearer list of more descriptive options and include how
          this can impact the outcome.
        </p>
        <p class="govuk-body">
          This could even be restructured to more straightforward questions
          depending on what is needed from this question. For example,
        </p>
        <ul class="govuk-list govuk-list--number">
          <li>'Do you know their first language? Yes or No'</li>
          <li>Yes - 'What is their first language? Accessible autocomplete'</li>
          <li>
            No - 'Is this believed to be English, or have they refused to
            disclose this? Yes or No'
          </li>
        </ul>
        <p class="govuk-body">
          This will not cover all scenarios as it's not clear how these answers
          impact the user and the outcome.
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Reason to change:</span
          >
          The options are not fully clear. 'Not known but believed English' and
          'Not known but believed other than English' seem to put the
          responsibility on the user, with no knowledge about how this impacts
          the outcome.
        </p>
        <hr
          class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
        />
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Applies to:</span>
          Flow of the questions
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Recommendation:</span
          >
          Change the structure of these questions, for example
        </p>
        <ul class="govuk-list govuk-list--number">
          <li>
            'When did they enrol at a school or college in England?', then
          </li>
          <li>
            'Is this the same date that they enrolled at your school or college?
            Yes or No'
          </li>
          <li>Yes - 'When did they enrol at your school or college?'</li>
        </ul>
        <p class="govuk-body">
          This helps break the question style up, helping the user understand
          the differences in questions.
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Reason to change:</span
          >
          'When did they enrol at a school or college in England?' and 'When did
          they enrol at your school or college?' are extremely similar questions
          that could cause confusion among users.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
