{% extends "layouts/index.html" %} {% block pageTitle %} Pages that appear in
every journey – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
content %}

<div class="govuk-width-container">
  <a href="/notes/index" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Pages that appear in every journey</span>
        <h1 class="govuk-heading-l">Recommendations</h1>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What pages are included
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Start page - Check your performance measures data (Key stage 4)
              </li>
              <li>Your details</li>
              <li>Your pupil details</li>
              <li>No - Check your answers before submitting a request</li>
              <li>Yes - Who do you want to remove?</li>
              <li>
                Summary pages - Check your answers before submitting request or
                uploading evidence
              </li>
              <li>Upload your evidence</li>
              <li>Upload your evidence - One document uploaded</li>
              <li>Requests - One in progress</li>
              <li>Requests - One complete</li>
              <li>Application complete</li>
              <li>Header - Your details</li>
              <li>Header - Your pupil details</li>
            </ul>
          </div>
        </details>

        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Applies to:</span>
          Flow of the pages
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Recommendation:</span
          >
          Skip this page in the journey and let the user access their pupil
          details through the header. Flow would be
        </p>
        <ul class="govuk-list govuk-list--number">
          <li>'Your details', then</li>
          <li>'Do you want to request to remove a pupil?'</li>
        </ul>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Reason to change:</span
          >
          'Your pupil details' can be over 100 pupils long. This page is
          currently just used as a reference point so it's not necessary for the
          user to land on this.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
