{% extends "layouts/index.html" %} {% block pageTitle %} Merge pupils – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <a href="/notes/index" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Merge pupils</span>
        <h1 class="govuk-heading-l">Recommendations</h1>

        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Applies to:</span>
          'Explain why the pupil record needs to be merged' page
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Recommendation:</span
          >
          Include an example or 2 as hint text under the question.
        </p>

        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Reason to change:</span
          >
          It is not clear what we expect from users here.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
