{% extends "layouts/index.html" %} {% block pageTitle %} Social care involvement
- including police or prison – {{ serviceName }} – GOV.UK Prototype Kit {%
endblock %} {% block content %}

<div class="govuk-width-container">
  <a href="/notes/index" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"
          >Social care involvement - including police or prison</span
        >
        <h1 class="govuk-heading-l">Recommendations</h1>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Applies to:</span>
          Flow of the questions
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Recommendation:</span
          >
          Change the flow so the user can answer the minimum amount of questions
          to get to their summary and evidence page.
        </p>
        <p class="govuk-body">
          This means that when the user answers Yes to questions that fulfil a
          removal criteria they skip the remaining questions. For example,
        </p>
        <ul class="govuk-list govuk-list--number">
          <li>
            'Have they recently been involved with social services? Yes or No'
          </li>
          <li>
            Yes - 'Has this had a severe and profound effect on their ability to
            access education and sit exams? Yes or No''
          </li>
          <li>Yes - 'Have they sat any year 11 exams? Yes or No'</li>
          <li>Journey goes to Summary, then Evidence.</li>
        </ul>

        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Reason to change:</span
          >
          The user has to answer every question in the flow even if they fulfil
          the first case of the pupil being involved with the police and this
          having a severe and profound impact on them. This could cause stress
          and worry that the pupil does not fulfil the right criteria.
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Implementation:</span
          >
          <a href="social-police-flow-ideal">Link to ideal flow</a>.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
