{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <a href="/index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Design changes, flow changes and recommendations
        </h1>

        <p class="govuk-body">
          All notes on one page:
          <a href="all">Link to notes</a>.
        </p>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">
            Implemented design and flow changes
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Applies to</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to notes
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Multiple journeys</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/broad">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Pages that appear in every journey
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/common">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Admitted from abroad with English not first language
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/admitted-abroad"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Completed KS4 studies this academic year in year 11 at another
                school or college
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/completed-ks4">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Deceased</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/deceased">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Elective home education</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/home-education">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Merge pupils</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/merge">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Not on roll</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/not-on-roll">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Permanently excluded from current school
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/permanently-excluded"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Permanently left England</td>
              <td class="govuk-table__cell">
                <a
                  class="govuk-link"
                  href="design-flow/permanently-left-england"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Social care involvement - including police or prison
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/social-police">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Terminal or critical illness</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/terminal-critical"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Year group change</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/year-group-change"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Behaviour to change or implement
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="design-flow/behaviour">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">
            Recommendations
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Applies to</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to notes
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Pages that appear in every journey
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="recommendations/common">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Admitted from abroad with English not first language
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="recommendations/admitted-abroad"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Admitted following permanent exclusion
              </td>
              <td class="govuk-table__cell">
                <a
                  class="govuk-link"
                  href="recommendations/admitted-following-exclusion"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Completed KS4 studies this academic year in year 11 at another
                school or college
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="recommendations/completed-ks4"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Merge pupils</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="recommendations/merge">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Permanently excluded from current school
              </td>
              <td class="govuk-table__cell">
                <a
                  class="govuk-link"
                  href="recommendations/permanently-excluded"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Social care involvement - including police or prison
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="recommendations/social-police"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Terminal or critical illness</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="recommendations/terminal-critical"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Year group change</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="recommendations/year-group-change"
                  >Link</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

{% endblock %}
