{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <a href="/index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">
            Design changes, flow changes and recommendations
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Applies to</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to notes
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Changes that impact multiple journeys
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="broad">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Behaviour to change or implement
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="behaviour">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Pages that appear in every journey
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="common">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Admitted following permanent exclusion
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="admitted-following-exclusion"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Admitted from abroad with English not first language
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="admitted-abroad">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Completed KS4 studies this academic year in year 11 at another
                school or college
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="completed-ks4">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Deceased</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="deceased">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Elective home education</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="home-education">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Merge pupils</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="merge">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Not on roll</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="not-on-roll">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Permanently excluded from current school
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="permanently-excluded">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Permanently left England</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="permanently-left-england">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Pupil missing in education</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="pupil-missing">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Social care involvement - including police or prison
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="social-police">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Terminal or critical illness</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="terminal-critical">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Year group change</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="year-group-change">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

{% endblock %}
