{% extends "layouts/index.html" %} {% block pageTitle %} Basic flow – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <a href="social-police#flow-changes" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"
          >Social care involvement - including police or prison</span
        >
        <h1 class="govuk-heading-l">Basic flow</h1>
      </div>
      <div class="govuk-grid-column-full">
        <img
          src="/public/images/Social care and police involvement - MVP.png"
          alt="Flow chart of the most basic flow for social care involvement. Steps are outlined below."
        />
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          <a
            href="/public/images/Social care and police involvement - MVP.png"
            target="_blank"
          >
            Open this flow chart as it's own image (opens in a new tab).
          </a>
        </p>
        <h2 class="govuk-heading-m">Process description</h2>
        <ul class="govuk-list govuk-list--number">
          <li>Have they been recently involved with social services?</li>
          <li>Have they recently been involved with the police?</li>
          <li>
            Has this had a severe and profound effect on their ability to access
            education or sit exams?
          </li>
          <li>
            Have they been detained in prison, a remand centre or secure unit
            for 4 months or more?
          </li>
          <li>Have they sat any year 11 exams?</li>
          <li>Summary</li>
          <li>Evidence</li>
        </ul>
      </div>
    </div>
  </main>
</div>

{% endblock %}
