{% extends "layouts/main.html" %} {% block pageTitle %} Full return summary for
Newcastle Bridges School (URN: 145361) – {{ serviceName }} – GOV.UK Prototype
Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Check your answers before submitting your request
        </h1>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Pupils being removed
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 33%">
                Name
              </th>
              <th scope="col" class="govuk-table__header" style="width: 33%">
                UPN
              </th>
              <th scope="col" class="govuk-table__header">Removal reason</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Susan Allen</td>
              <td class="govuk-table__cell">3021249</td>
              <td class="govuk-table__cell">Left England</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Joe Bell</td>
              <td class="govuk-table__cell">4816301</td>
              <td class="govuk-table__cell">Deceased</td>
            </tr>
          </tbody>
        </table>

        <form class="form" action="" method="post">
          <h2 class="govuk-heading-m">Declaration</h2>
          <p class="govuk-body">
            I confirm that the information I have given is correct.
          </p>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Confirm and submit
          </button>
          <p class="govuk-body">
            <a class="govuk-link" href="">Cancel and return to requests</a>
          </p>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
