{% extends "layouts/main.html" %} {% block pageTitle %} Is this the same date
they joined your school or college? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %} {% block content %}
<a href="admission-date-england" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/admission-routing" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                  >Request for Joe Bell (UPN: 4816301)
                </span>
                <h1 class="govuk-fieldset__heading">
                  Is this the same date they joined your school or college?
                </h1>
              </legend>
              <p class="govuk-body">
                If not, you will have to provide the admission date for your
                school.
              </p>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="admissionDateYes"
                    name="admissionDate"
                    type="radio"
                    value="yes"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="admissionDateYes"
                  >
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="admissionDateNo"
                    name="admissionDate"
                    type="radio"
                    value="no"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="admissionDateNo"
                  >
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
