{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <a href="/pupil-addback/index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Journey recommendations</h1>
        <h2 class="govuk-heading-m">Start page skips to create a request</h2>

        <p class="govuk-body">
          Users can start their journey straight away without having to visit
          pages with no calls to action.
        </p>
        <h3 class="govuk-heading-s">When to implement</h3>
        <p class="govuk-body">
          If 'Your details' and 'Pupil details' are reference points and do not
          require a call to action, and pupil list can be longer than 30.
        </p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Check your performance measures data (Key stage 4)
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="start">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Do you want to request to remove a pupil?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/pupil-addback/create-request"
                  >Link</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <hr class="govuk-section-break govuk-section-break--l" />
        <span class="govuk-caption-m"
          >Admitted from abroad with English not first language
        </span>
        <h2 class="govuk-heading-m">
          Question added that asks if admission to English school is the same
          date as admission to their school
        </h2>
        <p class="govuk-body">
          Breaks up the journey of asking for 3 similar dates in a row. Allows
          for a more straightforward approach to admission to an England school
          and your school.
        </p>
        <h3 class="govuk-heading-s">When to implement</h3>
        <p class="govuk-body">
          As soon as possible, no prior requirements are needed.
        </p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                When did they arrive in England?

              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="arrival-date">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                When did they first join a school or college in England? 
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="admission-date-england">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Is this the same date they joined your school or college? 
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="admission-date-same">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Yes - Check your answers before submitting evidence 
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="abroad-firstlanguage-summary-yes"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                No - When did they join your school or college? 
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="admission-date">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                No - Check your answers before submitting evidence 
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="abroad-firstlanguage-summary-no"
                  >Link</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

{% endblock %}
