{% extends "layouts/main.html" %} {% block pageTitle %} Check your answers
before uploading evidence – {{ serviceName }} – GOV.UK Prototype Kit {%
endblock %} {% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="abroad-firstlanguage-evidence" method="post">
          <div class="govuk-width-container">
            <h1 class="govuk-heading-l">
              Check your answers before uploading evidence
            </h1>
            <h2 class="govuk-heading-m">Pupil removal request</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Pupil name</dt>
                <dd class="govuk-summary-list__value">Joe Bell</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="select-student-removed"
                    >Change<span class="govuk-visually-hidden"> name</span></a
                  >
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Pupil UPN</dt>
                <dd class="govuk-summary-list__value">4816301</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="select-student-removed"
                    >Change<span class="govuk-visually-hidden"> upn</span></a
                  >
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Removal category</dt>
                <dd class="govuk-summary-list__value">
                  Admitted from abroad with English not first language
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="removal-reason"
                    >Change<span class="govuk-visually-hidden">
                      Removal category</span
                    ></a
                  >
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">First language</dt>
                <dd class="govuk-summary-list__value">Other than English</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="first-language"
                    >Change<span class="govuk-visually-hidden">
                      First language</span
                    ></a
                  >
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Country of origin</dt>
                <dd class="govuk-summary-list__value">Algeria</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="country-origin"
                    >Change<span class="govuk-visually-hidden">
                      Country of origin</span
                    ></a
                  >
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of arrival in England
                </dt>
                <dd class="govuk-summary-list__value">12 October 2015</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="arrival-date"
                    >Change<span class="govuk-visually-hidden">
                      Date of arrival in England</span
                    ></a
                  >
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of enrollment in England
                </dt>
                <dd class="govuk-summary-list__value">20 September 2020</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="admission-date-england"
                    >Change<span class="govuk-visually-hidden">
                      Date of enrolment in England</span
                    ></a
                  >
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of enrollment to your school or college
                </dt>
                <dd class="govuk-summary-list__value">20 June 2023</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="admission-date"
                    >Change<span class="govuk-visually-hidden">
                      Date of enrollment to your school or college</span
                    ></a
                  >
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">Declaration</h2>
            <p class="govuk-body">
              I confirm that the information I have given is correct.
            </p>
            <form action="/form-handler" method="post" novalidate>
              <input type="hidden" name="answers-checked" value="true" />
              <button
                type="submit"
                class="govuk-button"
                data-module="govuk-button"
              >
                Confirm and upload evidence
              </button>
              <p class="govuk-body">
                <a href="request-inprogress" class="govuk-link"
                  >Cancel and return to requests</a
                >
              </p>
            </form>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
