{% extends "layouts/main.html" %} {% block pageTitle %} Upload your evidence –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Upload your evidence</h1>

        <p class="govuk-body">
          Evidence must meet the criteria specified in the
          <a href="">guidance</a>.
        </p>

        <div class="govuk-inset-text">
          If you do not provide all of the correct evidence, your request will
          not be accepted.
        </div>
        <h2 class="govuk-heading-m">How to upload documents</h2>
        <p class="govuk-body">Upload your documents in PDF format.</p>
        <p class="govuk-body">
          You can submit up to 6 files, and each file can be up to 10 megabytes
          (MB).
        </p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1"> Upload a file </label>
          <input
            class="govuk-file-upload"
            id="file-upload-1"
            name="fileUpload1"
            type="file"
          />
        </div>
        <button
          type="submit"
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button"
        >
          Upload document
        </button>

        <form class="form" action="request-complete" method="post">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">
              Files added
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width: 20%">
                  File
                </th>
                <th scope="col" class="govuk-table__header">Link</th>
                <th scope="col" class="govuk-table__header" style="width: 30%">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">File 1</td>
                <td class="govuk-table__cell">important_document.pdf</td>
                <td class="govuk-table__cell">
                  <a href="" class="govuk-link">View</a> or
                  <a href="" class="govuk-link">Remove</a>
                </td>
              </tr>
            </tbody>
          </table>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit evidence
          </button>
          <p class="govuk-body">
            <a href="request-inprogress" class="govuk-link"
              >Cancel and return to requests</a
            >
          </p>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
