{% extends "layouts/main.html" %} {% block pageTitle %} Your requests – {{
    serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
    
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <form class="form" action="select-student-removed" method="post">
              <div class="govuk-form-group">
                <h1 class="govuk-heading-l">Your requests</h1>
    
               <p class="govuk-body">You currently have no requests</p>
                <button
                  type="submit"
                  class="govuk-button govuk-button--secondary"
                  data-module="govuk-button"
                >
                  Add another request
                </button>
              </div>
            </form>
    
            <form class="form" action="request-summary" method="post">
              <div class="govuk-form-group">
                <br />
                <button
                  type="submit"
                  class="govuk-button"
                  data-module="govuk-button"
                >
                  Submit applications
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
    
    {% endblock %}
    