{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<a href="index" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Completed KS4 studies this academic year in year 11 at another school
          or college
        </h1>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Full journey
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Start</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="start">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="your-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Pupil details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="pupil-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Create a request</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="create-request">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                What is the name of the student to be removed?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="select-student-removed">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Under which category do you wish to remove this pupil?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="removal-reason">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                What is the DfE number of the school where they're being
                reported this academic year?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="dfe-number">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Check your answers before submitting evidence
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="ks4-studies-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Upload your evidence</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="ks4-studies-evidence">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Upload your evidence - One document uploaded
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="ks4-studies-evidence-2">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requests - one in progress</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-inprogress">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requests - one complete</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-complete">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Request summary</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Complete</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="complete">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Header pages
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th
                scope="col"
                class="govuk-table__header"
                style="width: 20%"
              ></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/header-pupil-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Pupil details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/header-your-details">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

{% endblock %}
