{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<a href="/index" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Journeys by removal reason</h1>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="index-firstlanguage"
                >Admitted from abroad with English not first language
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              Journey changes when removal reason is Admitted from abroad with
              English not first language.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="index-ks4"
                >Completed KS4 studies this academic year in year 11 at another
                school or college
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              Journey changes when removal reason is Completed KS4 studies this
              academic year in year 11 at another school or college.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="index-deceased">Deceased </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              Journey changes when removal reason is Deceased.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="index-leftengland">
                Permanently left England
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              Journey changes when removal reason is Permanently left England.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
