{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<a href="index" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Start of service - current flow
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">Link to page</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Start</th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="start">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Your details</th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="your-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Pupil details</th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="pupil-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Create a request</th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="create-request">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                What is the name of the student to be removed?
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="select-student-removed">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Under which category do you wish to remove this pupil?
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="removal-reason">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                What date were they removed from your roll?
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="left-england-date">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                What country did they move to?
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="country-moved">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Check your answers before submitting evidence
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="left-england-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Upload your evidence
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="left-england-evidence">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Upload your evidence - One document uploaded
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="left-england-evidence-2">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Requests - one in progress
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-inprogress">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Requests - one complete
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-complete">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Requests - multiple complete
              </th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Request summary</th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Complete</th>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="complete">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
{% endblock %}
