{% extends "layouts/main.html" %} {% block pageTitle %} Full return summary for
Newcastle Bridges School (URN: 145361) – {{ serviceName }} – GOV.UK Prototype
Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="complete" method="post">
          <div class="govuk-width-container">
            <h1 class="govuk-heading-l">
              Full return summary for Newcastle Bridges School (URN: 145361)
            </h1>

            <h2 class="govuk-heading-m">You are subnmitting no requests</h2>
            <p class="govuk-body">
              By submitting this application you are confirming that, to the
              best of your knowledge, the details you are providing are correct.
            </p>

            <form action="/form-handler" method="post" novalidate>
              <input type="hidden" name="answers-checked" value="true" />
              <button
                type="submit"
                class="govuk-button"
                data-module="govuk-button"
              >
                Accept and submit request
              </button>
              <p class="govuk-body">
                <a class="govuk-link" href="create-request"
                  >Return and add a request</a
                >
              </p>
            </form>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
