{% extends "layouts/main.html" %} {% block pageTitle %} Full return summary for
Newcastle Bridges School (URN: 145361) – {{ serviceName }} – GOV.UK Prototype
Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Full return summary for Newcastle Bridges School (URN: 145361)
        </h1>
      </div>
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Susan Allen (UPN: 3021249)
          </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 40%">
                Removal category
              </th>
              <td class="govuk-table__cell">
                Admitted from abroad with English not first language
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">First language</th>
              <td class="govuk-table__cell">Other than English</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                School admission date
              </th>
              <td class="govuk-table__cell">20 June 2021</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                School admission date in England
              </th>
              <td class="govuk-table__cell">20 September 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Date of arrival in England
              </th>
              <td class="govuk-table__cell">12 October 2015</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Joe Bell (UPN: 4816301)
          </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 40%">
                Removal category
              </th>
              <td class="govuk-table__cell">Permanently left England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Date of removal from roll
              </th>
              <td class="govuk-table__cell">12 October 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Country moved to</th>
              <td class="govuk-table__cell">Australia</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-grid-column-full">
        <p class="govuk-body">You may download a copy for your reference.</p>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">Download as PDF</a>
          </li>
        </ul>
        <form class="form" action="complete" method="post">
          <h2 class="govuk-heading-m">Now submit your request</h2>
          <p class="govuk-body">
            By submitting this application you are confirming that, to the best
            of your knowledge, the details you are providing are correct.
          </p>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and submit request
          </button>
          <p class="govuk-body">
            <a class="govuk-link" href="request-complete"
              >Cancel and return to requests</a
            >
          </p>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
