{% extends "layouts/complete.html" %} {% block pageTitle %} Check your
performance measures data (Key stage 4) – {{ serviceName }} – GOV.UK Prototype
Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div
          class="govuk-notification-banner"
          role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner"
        >
          <div class="govuk-notification-banner__header">
            <h2
              class="govuk-notification-banner__title"
              id="govuk-notification-banner-title"
            >
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            Complete the school checking exercise by 5pm on Friday 28 June 2024.
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Check your performance measures data (Key stage 4)
        </h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="your-details" method="post">
          <p class="govuk-body">
            Use this service to ensure your key stage 4 (KS4)
            <a href="https://www.gov.uk/school-performance-tables"
              >performance data</a
            >
            is accurate before it is published in October 2024.
          </p>
          <p class="govuk-body">You can use this service to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>check the roll data we hold for your school or college</li>
            <li>request to remove a pupil from performance calculations</li>
            <li>
              request to merge duplicate pupil records (if you are an
              independent school or further education college with 14 to 16
              provision)
            </li>
          </ul>
          <div class="govuk-inset-text">
            You must read the accompanying <a href="">guidance</a> before you
            submit a request to remove a pupil. If your request does not meet
            the removal criteria, it will not be accepted.
            <br />
            <br />
            If you do not request a change, we will use the KS4 roll data we
            hold for your school or college to
            <a
              href="https://www.gov.uk/government/collections/school-and-college-performance-measures#key-stage-4-performance-measures"
              >assess secondary school performance at KS4</a
            >.
          </div>

          <h2 class="govuk-heading-m">Deadline for requesting a change</h2>
          <p class="govuk-body">
            Submit all requests by 5pm on Friday 28 June 2024.
          </p>
          <h2 class="govuk-heading-m">Who can use this service</h2>
          <p class="govuk-body">
            All schools and colleges in England with KS4 provision should use
            this service.
          </p>
          <p class="govuk-body">This includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>state funded schools</li>
            <li>special schools</li>
            <li>registered independent schools</li>
            <li>further education colleges with 14 to 16 provision</li>
          </ul>

          <button
            draggable="false"
            class="govuk-button govuk-button--start"
            data-module="govuk-button"
          >
            Start now
            <svg
              class="govuk-button__start-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="17.5"
              height="19"
              viewBox="0 0 33 40"
              aria-hidden="true"
              focusable="false"
            >
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </button>

          <h2 class="govuk-heading-m">Before you start</h2>
          <p class="govuk-body">
            You will need your DfE Sign-in credentials to access this service.
            <a href="https://profile.signin.education.gov.uk/register"
              >Create a DfE Sign-in account</a
            >
            if you do not already have one.
          </p>
          <h2 class="govuk-heading-m">After you have requested a change</h2>
          <p class="govuk-body">
            We will consider your request along with the information and
            evidence you provide.
          </p>
          <p class="govuk-body">
            If we accept your request, it will show in your
            <a href="https://www.gov.uk/school-performance-tables"
              >performance measures data</a
            >
            when it is published in October 2024.
          </p>

          <h2 class="govuk-heading-m">Get help</h2>
          <p class="govuk-body">
            If you need help to submit a request or think that your pupil list
            is incorrect, you can:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              send an email to
              <a href="">CYPMD.HELPLINE@education.gov.uk</a>
            </li>
            <li>phone the helpdesk on 03001312762</li>
          </ul>
        </form>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="related-navigation">
          <h2 class="govuk-heading-s related-navigation__main-heading">
            Related content
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-body-s" href="">DfE help centre</a>
            </li>
            <li>
              <a class="govuk-link govuk-body-s" href="#">
                School Checking Exercise (KS4) guidance
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-body-s" href="#">
                Key stage 4 performance measures
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-body-s" href="#">
                Manage account and access DfE online services
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
