{% extends "layouts/index.html" %} {% block pageTitle %} Terminal or critical
illness – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
content %}

<div class="govuk-width-container">
  <a href="/notes/index" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       <span class="govuk-caption-l">Terminal or critical illness</span>
        <h1 class="govuk-heading-l">Implemented design and flow changes</h1>
 
        <h2 class="govuk-heading-m">Design changes</h2>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Change:</span>
          Removed 'Has John Smith been under investigation for a serious or life
          changing illness for 12 months or more?'
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Screenshot for reference:</span
          >
          <a
            href="/public/images/Terminal or critical illness - Removed question.png"
            target="_blank"
          >
            Open this image (opens in a new tab)
          </a>
        </p>

        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Reason:</span>
          We do not need to know this information as per the guidance. We have
          to ask the user if they've had a critical illness for longer than 12
          months, and we cover this in a previous question.
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Severity:</span>
          <strong class="govuk-tag govuk-tag--red"> High </strong>
        </p>
        <hr
          class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
        />

        <h2 class="govuk-heading-m" id="flow-changes">Flow changes</h2>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            If routing is not going to be implemented, follow
            <a href="terminal-critical-flow-mvp">this flow without it</a>
            instead.
          </strong>
        </div>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Change:</span>
          'Has this had a severe and profound effect on their ability to access
          education or sit exams?' is only asked if the user answers yes to
          either
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            'Have they recently been diagnosed with a life changing illness?',
            or
          </li>
          <li>
            'Have they recently been diagnosed with a life changing injury?'
          </li>
        </ul>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Reason:</span>
          According to the guidance and current questions these are the only
          times we need to know if the pupil has been impacted in a severe way.
          This change means we can ask the users only relevant questions and not
          increase their cognitive load unnecessarily.
        </p>

        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold"
            >Implementation:</span
          >
          <a href="terminal-critical-flow-implemented"
            >Link to implemented flow</a
          >.
        </p>
        <p class="govuk-body">
          <span class="govuk-body govuk-!-font-weight-bold">Severity:</span>
          <strong class="govuk-tag govuk-tag--orange"> Medium </strong>
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
