{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <a href="index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Not on roll</h1>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Full journey
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Check your performance measures data (Key stage 4)
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="start">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="your-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your pupil details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="pupil-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Do you want to request to remove a pupil?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="create-request">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                No - Check your answers before submitting your request
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="no-request-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Yes - Who do you want to remove?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="select-student-removed">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Are they currently on roll at your school or college?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="on-roll">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Why do you want to remove them?</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="removal-reason-no">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Were they on roll at your school or college in the 2023/24
                academic year?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="previously-onroll">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Explain why they are not on roll
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="previously-onroll-reason">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Check your answers before uploading evidence
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="previously-onroll-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Upload your evidence</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="previously-onroll-evidence">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Upload your evidence - One document uploaded
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="previously-onroll-evidence-2"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requests - One in progress</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-inprogress">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requests - One complete</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-complete">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Check your answers before submitting your request
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Application complete</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="complete">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Header pages
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/header-your-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your pupil details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/header-pupil-details">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

{% endblock %}
