{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<a href="/index" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Journeys by removal reason</h1>
      </div>
      <h2 class="govuk-heading-m">Independent school request</h2>
        <p class="govuk-body">
          Helps the user decide if they want to create a request by giving them
          information of what is available to them.
        </p>
        <h3 class="govuk-heading-s">When to implement</h3>
        <p class="govuk-body">
          If the check to see if a school is independent can be after the
          'Start' page and before this page of the journey.
        </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Create a request for independent schools
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="create-request-independent">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="index-firstlanguage"
                >Admitted from abroad with English not first language
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              Journey changes when removal reason is Admitted from abroad with
              English not first language.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="index-merge">Merge pupils </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              Journey changes when removal reason is Merge pupils.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full"></div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href=""
                >Social care involvement - including police or prison
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              Journey changes when removal reason is Social care involvement -
              including police or prison.
            </p>
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="">
                Year group change
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              Journey changes when removal reason is Year group change.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="">
                Terminal or critical illness
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              Journey changes when removal reason is Terminal or critical
              illness.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
