{% extends "layouts/main.html" %} {% block pageTitle %} Have they been detained
in prison, a remand centre or secure unit? – {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} {% block content %}
<a href="police-involvement" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="sat-exams-socialcare" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                  >Request for Lewis Marshall (UPN: 6293018)
                </span>
                <h1 class="govuk-fieldset__heading">
                  Have they been detained in prison, a remand centre or secure
                  unit?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="detained-yes"
                    name="detained"
                    type="radio"
                    value="yes"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="detained-yes"
                  >
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="detained-no"
                    name="detained"
                    type="radio"
                    value="no"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="detained-no"
                  >
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
