{% extends "layouts/main.html" %} {% block pageTitle %} What is their first language?  –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<a href="removal-reason" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="country-origin" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                  >Request for Lewis Marshall (UPN: 6293018)
                </span>
                <h1 class="govuk-fieldset__heading">
                  What is their first language?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="firstLanguage-1"
                    name="firstLanguage"
                    type="radio"
                    value="English"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="firstLanguage-1"
                  >
                    English
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="firstLanguage-2"
                    name="firstLanguage"
                    type="radio"
                    value="Not known but believed English"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="firstLanguage-2"
                  >
                    Not known but believed English
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="firstLanguage-3"
                    name="firstLanguage"
                    type="radio"
                    value="Other than English"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="firstLanguage-3"
                  >
                    Other than English
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="firstLanguage-4"
                    name="firstLanguage"
                    type="radio"
                    value="Not known but believed other than English"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="firstLanguage-4"
                  >
                    Not known but believed other than English
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="firstLanguage-5"
                    name="firstLanguage"
                    type="radio"
                    value="Refused"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="firstLanguage-5"
                  >
                    Refused
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="firstLanguage-7"
                    name="firstLanguage"
                    type="radio"
                    value="Not known"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="firstLanguage-7"
                  >
                    Not known
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
