{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <a href="index-yeargroup" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">
            Pupil moved to a higher year group
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Where did they complete their year 11 studies?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="year-group-higher">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Check your answers before uploading evidence
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="year-group-summary-higher">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Upload your evidence</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="year-group-higher-evidence">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Upload your evidence - One document uploaded
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="year-group-higher-evidence-2"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requests - One in progress</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-inprogress">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requests - One complete</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-complete">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Check your answers before submitting your request
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Application complete</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="complete">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

{% endblock %}
