{% extends "layouts/main.html" %} {% block pageTitle %} Check your answers
before submitting your request – {{ serviceName }} – GOV.UK Prototype Kit {%
endblock %} {% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Check your answers before submitting your request
        </h1>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Lewis Marshall (UPN: 6293018)
          </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 40%">
                On roll at your school or college
              </th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 40%">
                Removal reason
              </th>
              <td class="govuk-table__cell">
                Admitted from abroad with English not first language
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">First language</th>
              <td class="govuk-table__cell">Other than English</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Date of arrival in England
              </th>
              <td class="govuk-table__cell">12 October 2015</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                School admission date in England
              </th>
              <td class="govuk-table__cell">20 September 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Date of school admission
              </th>
              <td class="govuk-table__cell">20 June 2021</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Stephen Collins (UPN: 4729001)
          </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 40%">
                On roll at your school or college
              </th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 40%">
                Removal reason
              </th>
              <td class="govuk-table__cell">Merge pupils</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Merged pupil name</th>
              <td class="govuk-table__cell">Stephen Collins</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Merged pupil UPN</th>
              <td class="govuk-table__cell">4729001</td>
            </tr>
           
          </tbody>
        </table>
        <h2 class="govuk-heading-m">Download a copy of your request</h2>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#"
              >Full return summary for Newcastle Bridges School (URN: 145361), 5
              April 2024 (PDF)
            </a>
          </li>
        </ul>
        <form class="form" action="complete" method="post">
          <h2 class="govuk-heading-m">Declaration</h2>
          <p class="govuk-body">
            I confirm that the information I have given is correct.
          </p>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Confirm and submit
          </button>
          <p class="govuk-body">
            <a class="govuk-link" href="request-complete"
              >Cancel and return to requests</a
            >
          </p>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
