{% extends "layouts/main.html" %} {% block pageTitle %} When did they join your
school or college? – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {%
block content %}
<a href="admission-date-england" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="abroad-firstlanguage-summary" method="post">
          <div class="govuk-form-group">
            <fieldset
              class="govuk-fieldset"
              role="group"
              aria-describedby="date-of-admission-hint"
            >
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                  >Request for Hannah Taylor (UPN: 6029312)
                </span>
                <h1 class="govuk-fieldset__heading">
                  When did they join your school or college?
                </h1>
              </legend>
              <div id="date-of-admission-hint" class="govuk-hint">
                For example, 31 3 2022
              </div>
              <div class="govuk-date-input" id="date-of-admission">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label
                      class="govuk-label govuk-date-input__label"
                      for="date-of-admission-day"
                    >
                      Day
                    </label>
                    <input
                      class="govuk-input govuk-date-input__input govuk-input--width-2"
                      id="date-of-admission-day"
                      name="date-of-admission-day"
                      type="text"
                      autocomplete="admission-day"
                      inputmode="numeric"
                    />
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label
                      class="govuk-label govuk-date-input__label"
                      for="date-of-admission-month"
                    >
                      Month
                    </label>
                    <input
                      class="govuk-input govuk-date-input__input govuk-input--width-2"
                      id="date-of-admission-month"
                      name="date-of-admission-month"
                      type="text"
                      autocomplete="admission-month"
                      inputmode="numeric"
                    />
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label
                      class="govuk-label govuk-date-input__label"
                      for="date-of-admission-year"
                    >
                      Year
                    </label>
                    <input
                      class="govuk-input govuk-date-input__input govuk-input--width-4"
                      id="date-of-admission-year"
                      name="date-of-admission-year"
                      type="text"
                      autocomplete="admission-year"
                      inputmode="numeric"
                    />
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
