{% extends "layouts/main.html" %} {% block pageTitle %} Have they been diagnosed
with a critical illness for more than 12 months? – {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} {% block content %}
<a href="terminal-diagnosed-education" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form
          class="form"
          action="life-changing-illness-education"
          method="post"
        >
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                  >Request for Hannah Taylor (UPN: 6029312)
                </span>
                <h1 class="govuk-fieldset__heading">
                  Have they been diagnosed with a critical illness for more than
                  12 months?
                </h1>
              </legend>
              <p class="govuk-body">
                A critical illness is a serious ongoing health condition.
              </p>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Examples of a critical illness
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">This includes:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>a mental health condition</li>
                    <li>an organ transplant</li>
                  </ul>
                </div>
              </details>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="critical-illness-yes"
                    name="critical-illness"
                    type="radio"
                    value="yes"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="critical-illness-yes"
                  >
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="critical-illness-no"
                    name="critical-illness"
                    type="radio"
                    value="no"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="critical-illness-no"
                  >
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
