{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<a href="index" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">
            Admitted from abroad with English not first language
          </caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Start</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="start">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="your-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Pupil details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="pupil-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Create a request</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="create-request">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                What is the name of the student to be removed?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="select-student-removed">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Are they still on roll?</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="on-roll">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Under which category do you wish to remove this pupil?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="removal-reason">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                What is the pupil's first language?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="first-language">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                What is their country of origin?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="country-origin">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                What is their date of admission to your school or college?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="admission-date">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                What is their date of admission to a school or college in
                England?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="admission-date-england">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                What is their date of arrival in England?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="arrival-date">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Check your answers before submitting evidence
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="abroad-firstlanguage-summary"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Upload your evidence</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="abroad-firstlanguage-evidence"
                  >Link</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Upload your evidence - One document uploaded
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="abroad-firstlanguage-evidence-2"
                  >Link</a
                >
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requests - one in progress</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-inprogress">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requests - one complete</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-complete">Link</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Request summary</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="request-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Complete</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="complete">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

{% endblock %}
