{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <a href="index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Year group change</h1>
        <p class="govuk-body">
          This journey splits when the user selects what year group the pupil
          has moved to.
        </p>
      </div>
      <div class="govuk-grid-column-full">
        <hr
          class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
        />
      </div>
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Start of journey
          </caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Check your performance measures data key stage 4 (school and college checking exercise) 
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="start">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="your-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your pupil details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="pupil-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Do you want to request to remove a pupil?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="create-request">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                No - Check your answers before submitting your request
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="no-request-summary">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Yes - Who do you want to remove?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="select-student-removed">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Are they currently on roll at your school or college?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="on-roll">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Yes - Why do you want to remove them?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="removal-reason-yes">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Which year group have they changed to?
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="year-group-move">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-grid-column-full">
        <hr
          class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
        />
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="index-yeargroup-lower"
                >Pupil moved to a lower year group
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">The year group the pupil moved to is</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Year 8, or</li>
              <li>Year 9, or</li>
              <li>Year 10</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="index-yeargroup-higher"
                >Pupil moved to a higher year group
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">The year group the pupil moved to is</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Year 12, or</li>
              <li>Year 13</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full">
        <hr
          class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
        />
      </div>
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Header pages
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header" style="width: 20%">
                Link to page
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/header-your-details">Link</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Your pupil details</td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/header-pupil-details">Link</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

{% endblock %}
