{% extends "layouts/main.html" %} {% block pageTitle %} Have they recently been
diagnosed with a life changing injury? – {{ serviceName }} – GOV.UK Prototype
Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  <a href="life-changing-illness-noeducation" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form
          class="form"
          action="sat-exams-terminal-noeducation"
          method="post"
        >
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                  >Request for Hannah Taylor (UPN: 6029312)
                </span>
                <h1 class="govuk-fieldset__heading">
                  Have they recently been diagnosed with a life changing injury?
                </h1>
              </legend>
              <p class="govuk-body">
                This is a severe, physical injury that has a profound and
                lasting impact their life.
              </p>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Examples of a life changing injury
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">If they have had:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>a limb amputation</li>
                    <li>a spinal cord injury</li>
                  </ul>
                </div>
              </details>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="injury-yes"
                    name="injury"
                    type="radio"
                    value="yes"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="injury-yes"
                  >
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="injury-no"
                    name="injury"
                    type="radio"
                    value="no"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="illness-no"
                  >
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
