{% extends "layouts/main.html" %} {% block pageTitle %} Explain why the pupil
record needs to be merged – {{ serviceName }} – GOV.UK Prototype Kit {% endblock
%} {% block content %}
<div class="govuk-width-container">
  <a href="merged-pupil" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="merged-summary" method="post">
          <div
            class="govuk-form-group govuk-character-count"
            data-module="govuk-character-count"
            data-maxlength="500"
          >
            <h1 class="govuk-label-wrapper">
              <span class="govuk-caption-l"
                >Request for Hannah Taylor (UPN: 6029312)
              </span>
              <label class="govuk-label govuk-label--l" for="with-hint">
                Explain why the pupil record needs to be merged
              </label>
            </h1>

            <textarea
              class="govuk-textarea govuk-js-character-count"
              id="with-hint"
              name="withHint"
              rows="5"
              aria-describedby="with-hint-info with-hint-hint"
            ></textarea>
            <div
              id="with-hint-info"
              class="govuk-hint govuk-character-count__message"
            >
              You can enter up to 500 characters
            </div>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
