{% extends "layouts/main.html" %} {% block pageTitle %} Have they had a recent
situation with police involvement that severely affected their ability to access
education or sit exams? – {{ serviceName }} – GOV.UK Prototype Kit {% endblock
%} {% block content %}
<a href="social-care-involvement" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="detained" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                  >Request for Hannah Taylor (UPN: 6029312)
                </span>
                <h1 class="govuk-fieldset__heading">
                  Have they had a recent situation with police involvement that
                  severely affected their ability to access education or sit
                  exams?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="police-involvement-yes"
                    name="police-involvement"
                    type="radio"
                    value="yes"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="police-involvement-yes"
                  >
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="police-involvement-no"
                    name="police-involvement"
                    type="radio"
                    value="no"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="police-involvement-no"
                  >
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
