{% extends "layouts/main.html" %} {% block pageTitle %} Have they sat any year
11 exams? – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
content %}
<a href="illness-injury-no" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="terminal-summary" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                  >Request for Hannah Taylor (UPN: 6029312)
                </span>
                <h1 class="govuk-fieldset__heading">
                  Have they sat any year 11 exams?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="sat-exams-yes"
                    name="sat-exams"
                    type="radio"
                    value="yes"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="sat-exams-yes"
                  >
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="sat-exams-no"
                    name="sat-exams"
                    type="radio"
                    value="no"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="sat-exams-no"
                  >
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
