{% extends "layouts/main.html" %} {% block pageTitle %} Which year group have
they changed to? – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {%
block content %}
<div class="govuk-width-container">
  <a href="removal-reason-yes" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/yeargroup-onroll-independent" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l"
                  >Request for Hannah Taylor (UPN: 6029312)
                </span>
                <h1 class="govuk-fieldset__heading">
                  Which year group have they changed to?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="year-group-change-8"
                    name="year-group-change"
                    type="radio"
                    value="year 8"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="year-group-change-8"
                  >
                    Year 8
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="year-group-change-9"
                    name="year-group-change"
                    type="radio"
                    value="year 9"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="year-group-change-9"
                  >
                    Year 9
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="year-group-change-10"
                    name="year-group-change"
                    type="radio"
                    value="year 10"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="year-group-change-10"
                  >
                    Year 10
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="year-group-change-12"
                    name="year-group-change"
                    type="radio"
                    value="year 12"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="year-group-change-12"
                  >
                    Year 12
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="year-group-change-13"
                    name="year-group-change"
                    type="radio"
                    value="year 13"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="year-group-change-13"
                  >
                    Year 13
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
