{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your performance measures data key stage 4 prototype</h1>
        <h2 class="govuk-heading-l">Prototypes on current flows</h2>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="pupil-addback/index"
                >Pupil selected is an addback</a
              >
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">Removal reasons include</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Admitted from abroad with English not first language</li>
              <li>
                Completed KS4 studies this academic year in year 11 at another
                school or college
              </li>
              <li>Deceased</li>
              <li>Permanently left England</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full"></div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="independent/index"
                >School is independent and pupil is on roll
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">Removal reasons include</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Admitted from abroad with English not first language</li>
              <li>Merge pupils</li>
              <li>Social care involvement - including police or prison</li>
              <li>Terminal or critical illness</li>
              <li>Year group change</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="independent-offroll/index"
                >School is independent and pupil is off roll
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">Removal reasons include</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Deceased</li>
              <li>Elective home education</li>
              <li>Not on roll</li>
              <li>Permanently excluded from current school</li>
              <li>Permanently left England</li>
              <li>Pupil missing in education</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full"></div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="college/index"
                >School is an FE college with 14 to 16 provision and pupil is on
                roll
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">Removal reasons include</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Admitted following permanent exclusion</li>
              <li>Admitted from abroad with English not first language</li>
              <li>Merge pupils</li>
              <li>Social care involvement - including police or prison</li>
              <li>Terminal or critical illness</li>
              <li>Year group change</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="college-offroll/index"
                >School is an FE college with 14 to 16 provision and pupil is
                off roll
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">Removal reasons include</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Deceased</li>
              <li>Elective home education</li>
              <li>Not on roll</li>
              <li>Permanently excluded from current school</li>
              <li>Permanently left England</li>
              <li>Pupil missing in education</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
