{% extends "layouts/index.html" %} {% block pageTitle %} {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Schools Checking Exercise Prototype</h1>
        <h2 class="govuk-heading-l">Prototypes on current flows</h2>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="pupil-addback/index"
                >Pupil selected is an addback</a
              >
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--green">
                Design and content complete
              </strong>
              <br />
              <br />
              'Is the request student an add back?' is Yes.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="independent/index"
                >School is independent and pupil is on roll
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--turquoise">
                Design complete
              </strong>
              <br />
              <br />
              'Is the school an independent school?' is Yes and 'Is pupil still
              on roll at your school/college?' is Yes.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="independent-offroll/index"
                >School is independent and pupil is off roll
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--turquoise">
                Design complete
              </strong>
              <br />
              <br />
              'Is the school an independent school?' is Yes and 'Is pupil still
              on roll at your school/college?' is No.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="college/index"
                >School is an FE college with 14 to 16 provision and pupil is on
                roll
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--green">
                Design complete
              </strong>
              <br />
              <br />
              'Is the school an FE college with 14 to 16 provision?' is Yes and
              'Is pupil still on roll at your school/college?' is Yes.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <a class="govuk-heading-m" href="college-offroll/index"
                >School is an FE college with 14 to 16 provision and pupil is on
                roll
              </a>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              <strong class="govuk-tag govuk-tag--green">
                Design complete</strong
              >
              <br />
              <br />
              'Is the school an FE college with 14 to 16 provision?' is Yes and
              'Is pupil still on roll at your school/college?' is No.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
