{# For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts #} {% extends
"govuk-prototype-kit/layouts/govuk-branded.njk" %} 

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Schools Checking Exercise",
  serviceUrl: "/",
  navigation: [
    {
      href: "/header-your-details",
      text: "Your details"
    },
    {
      href: "/header-pupil-details",
      text: "Your pupil details"
    },
    {
      href: "#",
      text: "DfE account"
    },
    {
      href: "#",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block scripts %}

  {{ super() }}

  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>

{% endblock %}
{% block stylesheets %}

  {{ super() }}

  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />

{% endblock %}